body {
}

li {
  list-style-image: url("../230504/circle.png");
}

/* .delbtn {
  border: none;
  background-color: transparent;
} */

button {
  border: none;
  background-color: transparent;
}

.show-input {
  background-color: #969696;
  color: white;
  border: none;
  border-radius: 25px;
  height: 20px;
  margin-top: 50px;
  width: 30px;
  height: 30px;
}

.todo-input-button {
  background-color: #969696;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.maincontainer {
  background-image: url("../230504/whitewall.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  padding-left: 80px;
}

.calendarzone {
  background-image: url("../230504/whiteback.jpg");
  background-size: cover;
  width: 100%;
}
.calimage {
  text-align: center;
  margin-top: 250px;
}
.todo-form {
  display: none;
  margin-left: 70px;
  margin-top: 45px;
}
.todo-input-button {
  margin-left: 30px;
  width: 80px;
  height: 35px;
}

.big-font {
  font-family: "Maven Pro", sans-serif;
  font-size: 45px;
  color: #464646;
  display: flex;
  width: 200px;
}
.todo-input {
  width: 450px;
  height: 30px;
  border-radius: 5px;
  border-color: whitesmoke;
  padding: 3px;
  color: darkgrey;
}
.todo-input-items {
  display: flex;
}
.top-contents {
  display: flex;
}
.list-title {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  color: #464646;
}

.bottom-contents {
  display: flex;
}

.right-contents {
  margin-left: 300px;
}
